:root {
	--vp-layout-max-width: 1820px;
}
.content-container {
	max-width: 1280px !important;
}
.prev-next {
	// border: 1px solid red;
}
.table {
	// font-family: "JetBrains Mono", source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
	font-size: 14px;
	.table-header {
		font-weight: bold;
	}
	.table-header, .table-body {
		.table-row {
			display: grid;
			min-height: 50px;
			grid-column-gap: 24px;
			padding: 12px 0;
			position: relative;
			&:after {
				content: '';
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				height: 1px;
				background-color: var(--vp-c-text-1);
				opacity: 0.1;
			}
			.table-cell {
				align-self: center;
			}
		}
	}
}
.language-vue {
	border-radius: 0 !important;
}
:root {
	::-webkit-scrollbar {
	    width: 8px;
	    height: 8px;
	}
	::-webkit-scrollbar-thumb {
	    border-radius: 4px;
	    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
	    background-color: rgba(#99a9bf, 0.5);
	}
	::-webkit-scrollbar-track {
	    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.12);
	    border-radius: 5px;
	    background-color: rgba(#d3dce6, 0.2);
	}
}