:root {
	--vp-layout-max-width: 1920px;
}
.content-container {
	max-width: 1280px !important;
}
.table {
	// font-family: "JetBrains Mono", source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
	font-size: 14px;
	.table-header, .table-body {
		.table-row {
			display: grid;
			min-height: 50px;
			grid-column-gap: 24px;
			padding: 12px 0;
			position: relative;
			&:after {
				content: '';
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				height: 1px;
				background-color: var(--vp-c-text-1);
				opacity: 0.2;
			}
			.table-cell {
				align-self: center;
			}
		}
	}
}